*
{
	box-sizing: border-box;
	font-family: Merienda;
	margin: 0;
	outline: 0;
	padding: 0;
}
body
{
	overflow-x: hidden;
}
.title
{
	font-size: 24px;
	text-align: center;
}
.title-big
{
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	margin-bottom: 0;
	text-align: center;
	text-shadow: 0 4px 4px rgba(0,0,0,.25);
}
.line
{
	background-color: #000;
	height: 1px;
	margin: 0 auto;
	margin-bottom: 60px;
	margin-top: 60px;
	width: 240px;
}
.beanslogo{
	display:block;
	margin:0 auto;
	margin-top:20px
}
.banner
{
	
	background-size: cover;
	height: 260px;
}
.banner .title-big
{
	margin-top: 60px;
}

.list__wrapper
{
	display: flex;
	flex-wrap: wrap;
}

.shop .title
    {
        margin-top: 10px;
    }
.shop__girl
{
	display: block;
	margin: 0 auto;
}
.shop__text
{
	font-size: 14px;
	margin-top: 25px;
	text-align: center;
}
.shop {
	padding: 70px 0 40px 0;
}
